<div class="row">
    <div class="col-xl-12 inside_block">
        <div class="white_line">
            <span>{{ lang['replenishment_of_account'] }}:</span>
        </div>
        <div style="padding-top: 15px; padding-bottom: 15px">
            <form id="deposit_form_data">
                <input id="deposit" type="number" step="1">
                <input type="button" value="Buy" onclick="deposit_run()">
            </form>
        </div>
        <div id="err_deposit"></div>
    </div>
</div>

