<div class="inside_block">
    <div style="padding-top: 5px; padding-bottom: 5px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: white; margin-bottom: 10px">
        <span style="font-size: 24px">{{ lang['ethereum_wallet_address'] }}</span>
    </div>
    <div style="padding-top: 5px; padding-bottom: 5px;">
        <form>
            <div class="row">
                <input class="col-lg-10 form-control" style="width: 300px" type="text" name="wallet_eth" value="{{ data.eth_wallet }}"/>
                <input class="col-lg-1 btn btn-primary" style="margin-left: auto" type="button" value="Update" >
            </div>
        </form>
    </div>
</div>