<div id="enter_form">
    <div style="position: relative; margin: auto; margin-top: 50px; width: 300px; height: 350px; background: white; z-index: 1000">
        <div style="position: absolute; top: -12.5px; left: 287.5px; width: 23px; height: 23px; border: 1px white; z-index: 2000;">
            <img class="cloce_ico" width="25" height="25" src="/src/img/cloce_ico.png">
        </div>
        <div style="margin: 0 auto; padding-top: 25px; width: 170px">
            <form id="enter_form_data">
                <div>
                    <p align="center">Log In:</p>
                </div>
                <div>
                    <p>email</p>
                    <input type="email" name="login">
                </div>
                <div style="margin-top: 15px">
                    <p>password</p>
                    <input type="password" name="password">
                </div>
                <div style="padding-top: 15px">
                    <input type="button" value="Enter" onclick="author()">
                </div>
            </form>
        </div>
        <div class="err">

        </div>
    </div>
</div>